name: 3D Contribution

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: alphonsasooter

      - name: Commit & Push
        uses: EndBug/add-and-commit@v9
        with:
          message: "Update 3D contribution graph"
          add: "profile-3d-contrib/*"