name: Auto Commit Demo

on:
  schedule:
    - cron: "*/12 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create file
        run: echo "Updated on $(date)" >> demo.txt

      - name: Commit file
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Auto update file" || echo "Nothing to commit"
          git push