name: Daily Backup

on:
  schedule:
    - cron: 0 */12 * * *

jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: date > backup.txt
      - run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add backup.txt
          git commit -m "Daily backup"
          git push
