name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"   # every 24 hours
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: alphonsasooter
          template: classic
          base: header, activity, community, repositories
          config_timezone: Asia/Kolkata
          plugin_isocalendar: yes
          plugin_3d: yes

      - name: Commit and push metrics
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Update GitHub metrics" || exit 0
          git push